<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header" class="tex-align:center" style=margin-left:800px>
      <a class="navbar-brand" href="{% url 'welcome' %}">HOME</a>
      <a class="navbar-brand" href="{% url 'home' %}">About Us</a>
      <a class="navbar-brand" href="{% url 'welcome' %}">Products</a>
      <a class="navbar-brand" href="{% url 'welcome' %}">Contact Us</a>
     
     
     
     
    </div>
  </div>
</nav>
</body>
</html>