<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse" style="background-color: white;border:none;padding:10px">
 <a class="navbar-brand" href="{% url 'welcome' %}"><img src="https://www.brandcrowd.com/gallery/brands/pictures/picture1455031105948.jpg"height="90px" width="80px"></a>
  
  <div class="navbar-header" style= "padding:30px">
   <a class="navbar-brand" href="{% url 'welcome' %}"style=color:black>HOME</a>
       
      <a class="navbar-brand" href="{% url 'home' %}"style=color:black>ABOUT US</a>
      <a class="navbar-brand" href="{% url 'service' %}"style=color:black>SERVICES</a>
      <a class="navbar-brand" href="{% url 'welcome' %}"style=color:black>PRODUCTS</a>
      <a class="navbar-brand" href="{% url 'contact' %}"style=color:black>CONTACT US</a>

  </div>
</nav>
</body>
</html>