{%extends 'all-netpro4G/base.html'%}
{% block content %} 
{{ block.super}}
<div style="background-color:#E0CA3C">
<u style="color:white"><h3 style="padding:100px;text-align: center;font-size: 30px;color:white">WHO WE ARE</h3></u> 
</div>
<div class="container">
<u style="color:#E0CA3C;padding: 10px"><h3 style="text-align: center;color:#E0CA3C;font-weight: bold;padding-top: 50px">WELCOME TO  NETPRO LTD </h3></u>



  <!-- Looping through background   -->
  {% for post_item in background %}
 <p style="font-family: Lato Light, sans-serif;font-size: 20px" >{{ post_item.background }}</p> 
 
   
  {% empty %}
  
    <h2 class="text-center">There No post_item Items</h2>
  
  {% endfor %}
</div>
{% endblock %}
