{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Netpro - {{title}}</title>
  {% else %}
    <title> Netpro </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/basenetpro4G.css' %}">
  {% endblock %}

</head>
<body>
    {% include "navbar.html" %}

    {% block content %} 
    <h1 class='text-center'>Netpro</h1>
    <h3 class='text-center'>The portal to the world wide</h3> 
    {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>
