{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>NETPRO LTD - {{title}}</title>
  {% else %}
    <title> NETPRO LTD </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/basenetpro4G.css' %}">
    <link href="https://fonts.googleapis.com/css?family=B612+Mono&display=swap" rel="stylesheet">

  {% endblock %}

</head>
<body>
    {% include "navbar.html" %}

    {% block content %} 
   
   
    
    {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
    <footer style="background-color: darkgrey">
      <h2>HEAD OFFICE:</h2>

<h3>NETPRO LTD</h3>
<p>Gishushu KG 9 Av 13.</p>
<p>Phone: 0786-856-484 / 0787-702-757</p>
<p>Email: netprorwanda@gmail.com</p>
<p>Website: netproltd.com</p>
<p>Thank you for working with Us!</p>

    </footer>
</body>
</html>
