{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>NETPRO LTD - {{title}}</title>
  {% else %}
    <title> NETPRO LTD </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link href="https://fonts.googleapis.com/css?family=B612+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/basenetpro4G.css' %}">
  {% endblock %}

</head>
<body>
    {% include "navbar.html" %}

    {% block content %} 
   
   
    
    {%endblock%}

    
  <footer style="background-color:#E9E6FF">
  <u style=color:#E0CA3C><h2 style="font-weight:bold;margin-left:200px;color:#E0CA3C">HEAD OFFICE</h2></u>

    <h4 style="margin-left:400px;font-weight:bold;font-size:20px">NETPRO LTD</h4>
    <p style="margin-left:400px;font-size:20px;font-weight:bold">Gishushu KG 9 Av 13.</p>
    <p style="margin-left:400px;font-size:20px;font-weight:bold">Phone: 0786-856-484 / 0787-702-757</p>
    <p style="margin-left:400px;font-size:20px;font-weight:bold">Email: netprorwanda@gmail.com</p>
    <p style="margin-left:400px;font-size:20px;font-weight:bold">Website: netproltd.com</p>
    <p style="color:blue;margin-left:400px;font-size:30px;font-family:monospace;font-weight:bold">Thank you for working with Us!</p>
    <div style="background-color:black;padding:30px;color:white">© 2019-Copyright All Rights with 
        <a href="{% url 'background' %}"><strong>NETPRO LTD</strong></a>
      </div>
    </footer>
    {% block scripts %}
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>
