{%extends 'all-netpro4G/base.html'%}
{% block content %} 
{{ block.super}}


  <div style="background-color:#E0CA3C;padding: 40px">
<u style="color:white"><h2 style="text-align: center">Contact</h2></u>
  </div>
<div class="container">
     
    <div class="row">
        
      <div class="col-md-6">
        <h1 style="font-weight: bold;padding: 40px;margin-left: 20px"> Shop Finder</h1> 
        <h3> NETPRO LTD -Gishushu KG 9 Av 13</h3>
        <h3> NETPRO LTD -Gisimenti </h3>
    </div>
<h1 style="padding:20px">Contact Us</h1>
<div class="col-md-6"  style= "padding:50px" >
<form role="form" action="" method="post" >
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

  </div>  
   
</div>
</div> 
</div>
{% endblock %}