{%extends 'all-netpro4G/base.html'%}
{% block content %} 
{{ block.super}}


  <div style="background-color:#E0CA3C;padding: 100px">
<u style="color:white"><h2 style="text-align: center">Contact</h2></u>
  </div>

  <!-- Looping through post   -->
  {% for contact_item in contacts %}

  <div class="row">
    <!-- displaying post -->
   
    <div class="col-md-6" style="margin-left: 180px">
     <h3 style="font-weight: bold">Adress</h3>
      <p style="font-family: Lato Light, sans-serif;font-size: 21px "> {{ contact_item.title }} </p>
      <p style="font-family: Lato Light, sans-serif;font-size: 21px " > {{ contact_item.location }}</p>
      <p style="font-family: Lato Light, sans-serif;font-size: 21px "> {{ contact_item.phone}} </p>
      <p style="font-family: Lato Light, sans-serif;font-size: 21px "> {{ contact_item.email}} </p>
      <p style="font-family: Lato Light, sans-serif;font-size: 21px "> {{ contact_item.website}}</p>
    </div>
   
  </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No post_item Items</h2>
  
  {% endfor %}
</div>


{% endblock %}