{%extends 'all-netpro4G/base.html'%}
{% block content %} 
{{ block.super}}

 

<div style="background-color:#E0CA3C;padding:40px;color:white;margin-bottom: 90px">
  <u style="color:white"><h1 style=text-align:center>About Us</h1></u>
</div>


  
<div class="container">
<div class="row">
{% for post_item in post %}

<h3 style="font-weight: bold;margin-left: 90px;padding: 20px" >{{ post_item.title }}</h3>
<p style="font-family: Lato Light, sans-serif;font-size: 21px;">{{ post_item.post }}</p>


{% endfor %}
</div>
</div>
{% endblock %}

