<p>NETPRO LTD is a private company registered in Rwanda and was established in 2017 by founder, CEO and entrepreneur, Seneza Olivier,
        NETPRO Ltd (NetPro) is a leading 4G and fiber optic internet provider, integrated communications, business and technology solutions. In
        partnership with global and backbone technology leaders, we deliver solutions to customers in 4G and Broadband Internet, ICT Solutions,
        Security, Cloud Solutions, Web and Mobile App Development.
        We deliver value through a combination of process excellence, quality frameworks and service delivery innovation.</p>