{%extends 'all-netpro4G/base.html'%}
{% block content %} 
{{ block.super}}


  <div style="background-color:#E0CA3C;padding: 40px">
<u style="color:white"><h2 style="text-align: center">Our Services</h2></u>
  </div>
  <div class="container">
    
  <h3>OUTSOURCING & SERVICE CENTRE</h3>
  <ul>
    <li>SLAs 24*7 support</li>
    <li>Facilities Management</li>
    <li>Services (FMS) & Outsourcing</li>
   <li>Project based services</li>
   <li>Professional Services</li>
   <li>AMC</li>
   <li>Implementation and planning</li>
  </ul>

</div>
{% endblock %}