{%extends 'all-netpro4G/base.html'%}
{% block content %} 
{{ block.super}}


  <div style="background-color:#E0CA3C;padding: 40px">
<u style="color:white"><h2 style="text-align: center">Our Services</h2></u>
  </div>
  <div class="container">
 
  <h3 style="padding:40px;margin-left: 100px">OUTSOURCING & SERVICE CENTRE</h3>

<div class="row">
  <ul>
    <li  style="font-size: 20px;margin-left: 120px">SLAs 24*7 support</li><br>
    <li  style="font-size: 20px;margin-left: 120px">Facilities Management</li><br>
    <li  style="font-size: 20px;margin-left: 120px">Services (FMS) & Outsourcing</li><br>
   <li  style="font-size: 20px;margin-left: 120px">Project based services</li><br>
   <li  style="font-size: 20px;margin-left: 120px">Professional Services</li><br>
   <li  style="font-size: 20px;margin-left: 120px">AMC</li><br>
   <li  style="font-size: 20px;margin-left: 120px">Implementation and planning</li><br>
  </ul>
</div>
</div>
{% endblock %}