{%extends 'all-netpro4G/base.html'%}
{% block content %} 
{{ block.super}}


  <div style="background-color:#E0CA3C;padding: 40px">
<u style="color:white"><h2 style="text-align: center">Our Services</h2></u>
  </div>
  <div class="container">
      <div class="row"> 
  <h3 style="padding:60px;margin-left: 100px">NETWORKING SERVICES</h3>
      </div>
  <div class="row">
  <ul>
      <div class="col-md-6">
    <li style="font-size: 20px;margin-left: 120px">Structured Cabling</li><br>
    <li style="font-size: 20px;margin-left: 120px">Power Cabling</li><br>
    <li style="font-size: 20px;margin-left: 120px">Fibre termination</li><br>
   <li style="font-size: 20px;margin-left: 120px">Data Centre Buildings</li><br>
   </div>
   <div class="col-md-6">
   <li style="font-size: 20px;margin-left: 60px ">Project Management</li><br>
   <li style="font-size: 20px;margin-left: 60px ">Network restructuring</li><br>
   <li style="font-size: 20px;margin-left: 60px ">Consultancy, Design,
        Implementation and Support</li><br>
   <li style="font-size: 20px;margin-left: 60px ">Software licenses</li><br>
  </div>
  </ul>
</div>
</div>
{% endblock %}