{%extends 'all-netpro4G/base.html'%}
{% block content %} 
{{ block.super}}

<div style="background-color:#E0CA3C;padding: 40px ;text-align: center;color:white">
 <u style="color: white"> <h3>SERVICES</h3></u>
</div>
  
  <div class="container">

  <div class="row" style="padding:50px">
  
  <div class="col-md-4">
    <h3 style="font-weight: bold">OUTSOURCING & SERVICE CENTRE</h3>
    <ul style="font-family: Lato Light, sans-serif;font-size: 21px;">
            <li>SLAs 24*7 support</li>
            <li>Facilities Management</li><br>
            <li>Services (FMS) & Outsourcing</li><br>
            <li>Project based services</li>
            <li>Professional Services</li>
            <li>AMC</li>
            <li>Implementation and planning</li>
            
          </ul>
        </div> 

<div class="col-md-4">
  <h3 style="font-weight: bold">ENTERPRISE SERVICE OFFERING</h3>
  <ul style="font-family: Lato Light, sans-serif;font-size: 21px;">
    <li>Professional Services</li>
    <li>Implementation Support</li>
    <li>Systems Migrations</li>
    <li>Preventive Maintenance</li>
    <li>Outsource</li>
    <li>24*7 Support</li>
    <li>Contracts (AMC)</li>
    <li>Remote Technical Support</li>
    <li>Virtualization</li>
    
  </ul>
</div>
<div class="col-md-4">
  <h3 style="font-weight: bold" >NETWORKING SERVICES</h3>
  <ul style="font-family: Lato Light, sans-serif;font-size: 21px;">
    <li>Structured Cabling</li>
    <li>Power Cabling</li>
    <li>Fibre termination</li>
    <li>Data Centre Buildings</li>
    <li>Project Management</li>
    <li>Network restructuring</li>
    <li>Consultancy, Design,
      Implementation and Support</li>
    <li>Software licenses</li>
    
  </ul>
</div>
  </div>
<div class="row">

<div class="col-md-4">
    <h3 style="font-weight: bold">ENTERPRISE INFRASTRUCTURE
      SERVICES</h3>
    <ul style="font-family: Lato Light, sans-serif;font-size: 21px;">
      <li>Professional Services</li>
      <li>Consultancy</li><br>
      <li>Design and Implementation</li><br>
      <li>Support/SLA</li><br>
      <li>VOIP</li>
      <li>Project Management</li><br>
      <li>Video Conferencing</li><br>
      <li>Remote Technical Support</li><br>
      <li>Network/ Data Security</li><br>
      <li>Switch and Routing</li><br>
      <li>Wireless Networks</li><br>
    </ul>
</div>
<div class="col-md-4">
    <h3 style="font-weight: bold">CONNECTING OUR CUSTOMERS ANYWHERE</h3>
            <ul style="font-family: Lato Light, sans-serif;font-size: 21px;">
              <li>As high-speed Broadband data service with high end IT equipment (CISCO switches) become an integral tool to
                  business world, NetPro continues to scale and innovate to meet the growing demand to power the networks of
                  tomorrow. We do this by designing highly redundant high-speed backbone links to which we connect our customers
                  using the most appropriate last mile technology. Since our work is 99.9% guaranteed.</li>
              
            </ul>
      </div>
      <div class="col-md-4">
          <h3 style="font-weight: bold">Helping Organizations Optimize</h3>
             <h4 style="font-weight: bold"> I.T Infrastructure Investments</h4>
                  <ul style="font-family: Lato Light, sans-serif;font-size: 21px;">
                    <li>At NetPro, we design and offer IT solutions that are customized to each clients current needs thus optimizing IT
                        spend and future proofing of the solutions.
                        We have carefully selected leading partners to ensure you get the right combination of computing, storage and
                        software solutions at any one time. Our IT solutions range from Rack and Blade Servers, Intelligent CISCO
                        Switches Storage Arrays, NAS and SAN, Virtualization, Server and Storage Consolidation and the accompanying
                        software licenses like <strong>Smartnet registration</strong>.
                        </li>
                  </ul>
                  <p style="color:blue;padding-top: 50px">We’ve Got You Covered!</p>
            </div>    
</div>
</div>

{% endblock %}
