{%extends 'all-netpro4G/base.html'%}
{% block content %} 
{{ block.super}}


  <div style="background-color:#E0CA3C;padding: 40px">
<u style="color:white"><h2 style="text-align: center">Our Services</h2></u>
  </div>
  <div class="container">
    
  <h3 style="padding:40px;margin-left: 100px">ENTERPRISE SERVICE OFFERING</h3>
  <div class="row">
  <ul>
    <div class="col-md-6">
    <li style="font-size: 20px;margin-left: 120px" >Professional Services</li><br>
    <li style="font-size: 20px;margin-left: 120px" >Implementation Support</li><br>
    <li style="font-size: 20px;margin-left: 120px" >Systems Migrations</li><br>
   <li style="font-size: 20px;margin-left: 120px"> Preventive Maintenance</li><br>
   </div>
   <div class="col-md-6"> 
   <li style="font-size: 20px;margin-left: 60px ">Outsource</li><br>
   <li style="font-size: 20px;margin-left: 60px ">24*7 Support</li><br>
   <li style="font-size: 20px;margin-left: 60px ">Contracts (AMC)</li><br>
   <li style="font-size: 20px;margin-left: 60px ">Remote Technical Support</li><br>
   <li style="font-size: 20px;margin-left: 60px ">Virtualization</li><br>
  </ul>
</div>
</div>
</div>
{% endblock %}