{%extends 'all-netpro4G/base.html'%}
{% block content %} 
{{ block.super}}


  <div style="background-color:#E0CA3C;padding: 40px">
<u style="color:white"><h2 style="text-align: center">Our Services</h2></u>
  </div>
  <div class="container">
    
  <h3>NETWORKING SERVICES</h3>
  <ul>
    <li>Structured Cabling</li>
    <li>Power Cabling</li>
    <li>Fibre termination</li>
   <li>Data Centre Buildings</li>
   <li>Project Management</li>
   <li>Network restructuring</li>
   <li>Consultancy, Design,
        Implementation and Support</li>
   <li>Software licenses</li>
   
  </ul>

</div>
{% endblock %}