{%extends 'all-netpro4G/base.html'%}
{% load static%}


{% block content %}
{{block.super}}
<style>
.netpro{
    color:blue;
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
* {
      box-sizing: border-box;
    }
    
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
    
    /* Float four columns side by side */
    .column {
      float: left;
      width: 25%;
      padding: 0 10px;
    }
    
    /* Remove extra left and right margins, due to padding */
    .row {margin: 0 -5px;}
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Responsive columns */
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
    }
    
    /* Style the counter cards */
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 20px;
      text-align: center;
      background-color: #f1f1f1;
      margin:20px;}
#more {display: none;}
#more1 {display: none;}
#more2 {display: none;}
#more3 {display: none;}
.intro{
  background-color: #DDE1E4
} */
</style>
<div style="background-color:#E0CA3C">

<h1 class="netpro" style="font-family: 'PT Serif', serif">NETPRO LTD</h1>
<h3 style="font-size:20px;font-weight:bold;margin-left:500px">The portal to the world wide</h3>
</div>


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="media/image/image1.png" alt="..." style="height: 350px">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img  src="media/image/image2.jpeg" alt="..." style="margin-left:60px; height:350px;width:450px ;margin-left: 400px">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="intro">
<h2 style="text-align: center;font-size:30px;font-weight: bold;padding-top: 30px;padding-bottom: 30px;color:black">Why Choose NetPro?</h2>

  <div class="row" style="background-color: white;margin-left: 8px;margin-right: 8px">
        
  
    
  <div  class="col-md-2" style="margin-left: 150px">
    <h4 style="font-weight: bold" >Network Availability Reliability</h4>
    <p style="font-size: 16px">We have designed our backbone network with the ability 
      <span id="dots">...</span><span id="more">to load balance two International
    independent gateway providers thereby providing unmatched reliability. This
    eliminates a single point of failure on bandwidth and the
    backbone.</span><a onclick="myFunction()" id="myBtn" style=color:#003366>Read more</a></p>
  </div>   
  <div  class="col-md-2" style="margin-left: 40px">
    <h4 style="font-weight: bold">Guaranteed Backend By 
      (SLA)</h4>
    <p style="font-size: 16px">Our confidence in the availability and reliability of
    Our network is backed by a solid 
    <span id="dots1">...</span><span id="more1">
      guarantee. We offer up to 99.9% availability SLA.
      If we don’t achieve this we pay you back.   
    </span><a onclick="myFunction1()" id="myBtn1" style=color:#003366>Read more</strong></a></p>
  </div>   
  <div  class="col-md-2" style="margin-left: 40px">
      <h4 style="font-weight: bold;" >QUALITY SERVICE</h4>
      <p style="font-size: 16px;">We consistently deliver high quality service and solutions
          to our customers based on our technology 
      <span id="dots2">...</span><span id="more2">
           platform and
          the people we recruit and train.
          We always aim to offer customer service that’s par
          excellence.
          We deploy automated CRM systems to ensure all calls are
          tracked to completion within the SLA timelines.
      </span><a  onclick="myFunction2()" id="myBtn2" style=color:#003366>Read more</strong></a></p>
    </div>   
    <div  class="col-md-2" style="margin-left: 40px">
      <h4 style="font-weight: bold;" >PROMISE&INNOVATION</h4>
      <p style="font-size: 16px">We promise to provide fully redundant international
         bandwidth through the fiber optic cable <span id="dots3">...</span>
      
      <span id="more3"> 
        to guarantee
        reliable communications free of delays and interference
        at the most affordable rates.
      </span>
        
     <a  onclick="myFunction3()" id="myBtn3" style=color:#003366>Read more</strong></a></p>
    </div>              
    
   </div>
  <div class="row">
     
    <h2 style="margin-left: 460px;font-size: 30px;padding:40px;font-weight: bold">OUR PARTNERS</h2>
    <div  class="col-md-3">
    <div class="card"> 
    <img src="http://logo-load.com/uploads/posts/2016-03/1457880089_alcatel-logo.jpg" alt="image" height="90px" width="90px">
    </div>
    </div>
    <div  class="col-md-3">
    <div class="card"> 
    <img src="https://www.ansible.com/hs-fs/hubfs/2016_Images/Partners/cisco-logo2.png?width=290&name=cisco-logo2.png" alt="image" height="90px" width="90px">
  </div>
  </div>
  <div  class="col-md-3">
    <div class="card">
    <img src="https://newtelco.com/wp-content/uploads/2017/04/Huawei-logo.jpg" alt="image" height="90px"width="90px">
  </div>
  </div>
  <div  class="col-md-3">
    <div class="card">
    <img src="https://logosvector.net/wp-content/uploads/2016/05/hp-logo-vector-download.jpg" alt="image" height="90px"width="90px">
  </div>
  </div>
  <div  class="col-md-3">
  <div class="card"> 
  <img src="http://seekvectorlogo.com/wp-content/uploads/2018/01/polycom-vector-logo-small.png"height=90px width=90px>
  </div>
  </div>
  <div  class="col-md-3">
  <div class="card">
   <img src="https://www.pcquest.com/wp-content/uploads/2016/02/avaya.png"height=90px width=90px>
  </div>
  </div>
  <div  class="col-md-3">
  <div class="card"> 
  <img src="https://banffventureforum.com/wp-content/uploads/2018/06/siemens-logo-300x300.jpg"height=90px width=90px>
  </div>
  </div> 
  <div  class="col-md-3">
  <div class="card"> 
  <img src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/0024/2196/brand.gif?itok=shysG6Mk" height=90px width=90px>
  </div>
  </div>
    
  </div>

</div>

</div>

<script>
 

  function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}
function myFunction1() {
  var dots = document.getElementById("dots1");
  var moreText = document.getElementById("more1");
  var btnText = document.getElementById("myBtn1");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}
function myFunction2() {
  var dots = document.getElementById("dots2");
  var moreText = document.getElementById("more2");
  var btnText = document.getElementById("myBtn2");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}
function myFunction3() {
  var dots = document.getElementById("dots3");
  var moreText = document.getElementById("more3");
  var btnText = document.getElementById("myBtn3");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}

    
</script>

{% endblock %}
